{% extends 'layout/baseLandingpage.html' %}
{% load static %}
{% block content %}

  
    <div class="row bg-white">
        <div class="col-md-8 mx-auto ml-2 mr-2">
            <div class="card radius-15">
                <div class="card-body">
                    <h1>Blog Posts</h1>
                    <ul>
                        {% for post in blog_posts %}
                        <li>
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.content|safe }}</p>  <!-- Use safe filter to render HTML from CKEditor -->
                            <p>Published on: {{ post.pub_date }}</p>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
